* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
}
header,
ul,
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 100px;
}
header {
  border-bottom: 1px solid black;
  background-color: #e66488;
}
.header-scroll {
  display: none;
  height: 200px;
  background-color: #e9e999;
  width: 300px;
  float: right;
}
.logo {
  flex: 1;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
  flex: 2;
}
li {
  list-style-type: none;
  flex: 1;
}
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
.burger {
  display: none;
  cursor: pointer;
}
.line {
  width: 35px;
  height: 5px;
  border: 3px solid black;
  margin-top: 5px;
  margin-right: 10px;
}
.box {
  position: relative;
  margin-top: 200px;
  text-align: center;
  font-size: 3rem;
  justify-content: center;
}
section {
  min-height: 50vh;
}
@media only screen and (max-width: 1200px) {
  header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #e66488;
    display: flex;
    border-bottom: 1px solid black;
    z-index: 1;
  }
  ul.navigation {
    display: none;
  }
  .logo {
    justify-content: center;
    margin-left: 55px;
  }
  ul,
  li {
    position: relative;
    display: block;
    flex: 0;
  }
  .burger {
    display: block;
  }
  .header-scroll {
    position: absolute;
    right: 0;
    top: -200px;
    display: block;
    background-color: #e66488;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
}
@media only screen and (max-width: 820px) {
  .header-scroll {
    width: 150px;
  }
}
